body {
    margin: 0;
    background-color: #ccc;
    position: relative;
}

canvas {
    border: solid 1px black;
}

#isl {
    position: fixed;
    width: 300px;
    height: 400px;
    top: 10px;
    left: 10px;
    border: solid 1px black;
}

#leftCanvas {
    position: fixed;
    top: 10px;
    left: 320px;
}

#rightCanvas {
    position: fixed;
    top: 10px;
    left: 730px;
}

#contents {
    position: fixed;
    top: 420px;
    left: 10px;
}

#canvas-overlay {
    position: fixed;
    top: 10px;
    left: 320px;
}

#rightCanvasText {
    position: fixed;
    top: 420px;
    left: 730px;
    width: 402px;
    font-family: monospace;
}

#leftCanvasText {
    position: fixed;
    top: 450px;
    left: 320px;
    width: 402px;
    font-family: monospace;
}

#costText {
    position: fixed;
    top: 450px;
    left: 10px;
    width: 280px;
    font-family: monospace;
}

#range {
    position: fixed;
    top: 420px;
    left: 350px;
    width: 370px;
}

#timestamp {
    position: fixed;
    top: 420px;
    left: 320px;
    font-family: monospace;
}
